/* SETTINGS */

html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1,
h2,
h3 {
    font-weight: 600;
}

p,
h3,
h4 {
    margin: 0;
    padding: 0;
}

.align-left {
    float: left;
}

.align-right {
    float: right;
}

.d-none {
    display: none !important;
}

.d-flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.row {
    flex-wrap: wrap;
}

.row .col-4 {
    padding-right: 10px;
    padding-left: 10px;
    box-sizing: border-box;
    flex: 0 0 25%;
    min-width: 25%;
}

.container {
    /*max-width: 80%;*/
    margin: 0 auto;
}

/* BUTTONS */

button {
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border: solid 1px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

button.btn-delete {
  background-color: #fff;
    color: #18ACC4;
}

button.btn-see-offer {
    background-color: #FDCB13;
    width: 120px;
    border: none;
}

/* HEADER */

header#header {
    height: 60px;
    padding: 10px;
}

header#header .header-center {
    flex: 1;
}

header#header .header-center img {
    display: block;
    width: 100px;
    margin: 0 auto;
}

header#header .header-left-mb,
header#header .header-left {
    color: #007A8D;
}

header#header .header-right-mb,
header#header .header-right {
    color: #007A8D;
}

header#header .header-right .acc-icon {
    margin-left: 5px;
}

header#header .header-left-mb .help-icon,
header#header .header-right-mb .acc-icon {
    font-size: 30px;
}

header#header .header-left .help-icon,
header#header .header-right .acc-icon,
header#header .header-left .whatsapp-icon {
    font-size: 30px;
    margin-right: 5px;
}

header#header .h-box-left {
    flex: 2;
}

header#header .h-box-left .border {
    border-left: solid 4px #FBFBFB;
}

header#header .h-box-right {
    flex: 2;
}


header#header .h-box-left div {
    padding: 0 10px;
}

/* SUB-HEADER */
.sub-header {
    background-color: #18ACC4;
    line-height: 50px;
    height: 50px;
    color: #fff;
}

.sub-header ul {
    list-style: none;
    padding: 0;
}

.sub-header ul li.my-account {
    float: left;
    margin: 0 10px 0 0px;
}

.sub-header ul li.menu {
    float: right;
    margin: 0 10px 0 10px;
}

/* NAVIGATION */

.navigation {
    padding: 40px 0;
    color: #007A8D;
}

/* CONTENT */
.semesters {
    overflow: auto;
    clear: both;
    margin-top: 40px;
}

.semesters ul.semester-list {
    list-style: none;
    color: #007A8D;
    padding: 0;
    margin: 0;
}

.semesters ul.semester-list li {
    min-width: 200px;
    border: solid 1px #007A8D;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.semesters ul.semester-list li:first-child {
    border-radius: 10px 10px 0 0;
}

.semesters ul.semester-list li:last-child {
    border-radius: 0 0 10px 10px;
}

.semesters ul.semester-list li:hover {
    background-color: #007A8D;
    color: #fff;
}

.semester-active {
    background-color: #007A8D;
    color: #fff; 
}

/* BOLSA */

.bolsas {}


.bolsa {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 0 20px;
    box-shadow: 0px 1px 5px 0px;
    ;
    text-align: center;
}

.add-bolsa {
    justify-content: center;
    cursor: pointer;
}

.add-bolsa .plus-icon {
    font-size: 100px;
    color: #18ACC4;
}

.add-bolsa p {
    font-size: 20px;
    line-height: 26px;
}

.curso-img {
    height: 40px;
}

.bolsas .bolsa .bolsa-title {
    text-transform: uppercase;
    padding: 10px 0;
}

.bolsas .bolsa .bolsa-description {
    color: #007A8D;
    font-size: 18px;
}

.bolsas .curso-img img {
    display: block;
    margin: 0 auto;
    /*    width: 100%;*/
    height: 100%;
}

.bolsas .bolsa-score .number {
    font-weight: 700;
    margin-right: 5px;
    font-size: 18px;
}

.bolsas .bolsa-score .stars {
    color: orange;
}

.bolsas .box-type {
    border-top: solid 4px #FBFBFB;
    border-bottom: solid 4px #FBFBFB;
    padding: 20px 0;
}

.bolsas .bolsa-tipo{
    margin-bottom: 20px;
    text-transform: uppercase;
}

.bolsas .box-monthly h4  {
    font-size: 14px;
    margin-bottom: 20px;
}

.bolsas .box-monthly .bolsa-preco {
    color: #0FA866;
    font-size: 30px;
    font-weight: 600;
}

.bolsas .box-monthly .bolsa-preco-total {
    text-decoration: line-through;
}

.bolsa-description {
    height: 40px;
}


/* FOOTER */

footer {
    background-color: #007A8D;
    color: #fff;
    margin-top: 40px;
}

footer .chat,
footer .email,
footer .help {
    text-align: center;
    padding: 40px;
    font-size: 18px;
    flex: 1;
}

footer .email {
    border-width: 0px 4px 0px 4px;
    border-color: #18ACC4;
    border-style: solid;
}

footer .chat,
footer .email,
footer .help,
footer .f-icon {
    font-size: 15px;
}

footer .f-icon {
    font-size: 30px;
}

footer .f-end {
    padding: 30px;
    text-align: center;
    background-color: #18ACC4;
}

/* MODAL FORM*/

form.form-bolsa {
    margin-top: 40px;
}

.hz-form .input {
    flex: 1;
    max-width: 48%;
}

form .form-group {
    margin-bottom: 30px;
}

form select {
    background-color: #fff;
    width: -webkit-fill-available;
    height: 40px;
    border-radius: 5px;
}

form input[type='range'] {
    width: -webkit-fill-available;
}

/* MODAL - RESULTADOS */

.results .result {
    border-top: solid 2px gray;
    padding: 30px 0;
}

.results .result img {
    width: 70%;
    margin: 0 auto;
}

form.form-bolsa .filter {
    line-height: 25px;
}

.list-header {
    padding: 10px 0;
}

.bolsa-disc-list {

}

.bolsa-disc-list, .bolsa-value-all {
    color: #0FA866;
    font-weight: 600;
}

/* INPUT RANGE*/

.slidecontainer {
    width: 100%;
    /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    width: 100%;
    /* Full-width */
    height: 5px;
    /* Specified height */
    background: #d3d3d3;
    /* Grey background */
    outline: none;
    /* Remove outline */
    opacity: 0.7;
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    border-radius: 50%;
    background: #fff;
    /* Green background */
    border: solid 3px #4CAF50;
    cursor: pointer;
    /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    border-radius: 50%;
    background: #4CAF50;
    /* Green background */
    border: solid 3px #4CAF50;
    cursor: pointer;
    /* Cursor on hover */
}

#adicionar-bolsa-modal form.form-bolsa .options {
  text-align: right;
}

#adicionar-bolsa-modal .options button.btn-see-offer {
  width: 200px;
}


/* MODAL */

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(31,45,48, 0.88);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    /* Could be more or less, depending on screen size */
    min-width: 500px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
