/* SETTINGS */

html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1,
h2,
h3 {
    font-weight: 600;
}

p,
h3,
h4 {
    margin: 0;
    padding: 0;
}

.align-left {
    float: left;
}

.align-right {
    float: right;
}

.d-none {
    display: none !important;
}

.d-flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.row {
    flex-wrap: wrap;
}

.row .col-4 {
    padding-right: 10px;
    padding-left: 10px;
    box-sizing: border-box;
    flex: 0 0 25%;
    min-width: 25%;
}

.container {
    margin: 0 auto;
}

/* BUTTONS */

button {
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border: solid 1px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

button.btn-delete {
  background-color: #FFF;
    color: #18ACC4;
}

button.btn-see-offer {
    background-color: #FDCB13;
    width: 120px;
    border: none;
}

button:disabled {
    background-color: #FBFBFB !important;
    cursor: default !important;
}

/* CHECKBOX */

.cbx-container {
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cbx-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #fff;
  border: solid 1px;
  border-radius: 4px;
}

.cbx-container input:checked ~ .checkmark {
  background-color: #18ACC4;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.cbx-container input:checked ~ .checkmark:after {
  display: block;
}

.cbx-container .checkmark:after {
  left: 5px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* HEADER */

header#header {
    height: 60px;
    padding: 10px;
}

header#header .header-center {
    flex: 1;
}

header#header .header-center img {
    display: block;
    width: 60%;
    min-width: 130px;
    margin: 0 auto;
}

header#header .header-left-mb,
header#header .header-left {
    color: #007A8D;
}

header#header .header-right-mb,
header#header .header-right {
    color: #007A8D;
}

header#header .header-right .acc-icon {
    margin-left: 5px;
}

header#header .header-left-mb .help-icon,
header#header .header-right-mb .acc-icon {
    font-size: 30px;
}

header#header .header-left .help-icon,
header#header .header-right .acc-icon,
header#header .header-left .whatsapp-icon {
    font-size: 30px;
    margin-right: 5px;
}

header#header .h-box-left {
    flex: 2;
}

header#header .h-box-left .border {
    border-left: solid 4px #FBFBFB;
}

header#header .h-box-right {
    flex: 2;
}


header#header .h-box-left div {
    padding: 0 10px;
}

/* SUB-HEADER */
.sub-header {
    background-color: #18ACC4;
    line-height: 50px;
    height: 50px;
    color: #fff;
}

.sub-header ul {
    list-style: none;
    padding: 0;
}

.sub-header ul li.my-account {
    float: left;
    margin: 0 10px 0 0px;
}

.sub-header ul li.menu {
    float: right;
    margin: 0 10px 0 10px;
}

/* NAVIGATION */

.navigation {
    padding: 40px 0;
    color: #007A8D;
}

.navigation a:last-child {
    color: #1F2D30;
}

/* CONTENT */
.semesters {
    overflow: auto;
    clear: both;
    margin-top: 40px;
}

.semesters ul.semester-list {
    list-style: none;
    color: #007A8D;
    padding: 0;
    margin: 0;
}

.semesters ul.semester-list li {
    min-width: 200px;
    border: solid 1px #007A8D;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.semesters ul.semester-list li:first-child {
    border-radius: 10px 10px 0 0;
}

.semesters ul.semester-list li:last-child {
    border-radius: 0 0 10px 10px;
}

.semesters ul.semester-list li:hover {
    background-color: #007A8D;
    color: #fff;
}

.semester-active {
    background-color: #007A8D;
    color: #fff;
}

/* BOLSA */

.top-info h3 {
    font-weight: normal;
}

.bolsa {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 0 20px;
    box-shadow: 0px 1px 5px 0px;
    text-align: center;
}

.add-bolsa {
    justify-content: center;
    cursor: pointer;
    align-items: center;
}

.add-bolsa .plus-icon {
    font-size: 100px;
    color: #18ACC4;
}

.add-bolsa p {
    font-size: 20px;
    line-height: 26px;
}

.curso-img {
    height: 40px;
}

.bolsas .bolsa .bolsa-title {
    text-transform: uppercase;
    padding: 10px 0;
}

.bolsas .bolsa .bolsa-description {
    color: #007A8D;
    font-size: 18px;
}

.bolsas .curso-img img {
    display: block;
    margin: 0 auto;
    height: 100%;
}

.bolsas .bolsa-score .number {
    font-weight: 700;
    margin-right: 5px;
    font-size: 18px;
}

.bolsas .bolsa-score .stars {
    color: orange;
}

.bolsas .box-type {
    border-top: solid 4px #FBFBFB;
    border-bottom: solid 4px #FBFBFB;
    padding: 20px 0;
}

.bolsas .bolsa-tipo{
    margin-bottom: 20px;
    text-transform: uppercase;
}

.bolsas .box-monthly h4  {
    font-size: 14px;
    margin-bottom: 20px;
}

.bolsas .box-monthly .bolsa-preco {
    color: #0FA866;
    font-size: 30px;
    font-weight: 600;
}

.bolsas .box-monthly .bolsa-preco-total {
    text-decoration: line-through;
}

.bolsa-description {
    height: 40px;
}

/* FOOTER */

footer {
    background-color: #007A8D;
    color: #fff;
    margin-top: 40px;
}

footer .f-bottom div span {
    font-weight: 600;
}

footer .f-top div span {
    font-weight: 600;
}

footer .chat,
footer .email,
footer .help {
    text-align: center;
    padding: 40px 0;
    font-size: 18px;
    flex: 1;
}

footer .email {
    border-width: 0px 4px 0px 4px;
    border-color: #18ACC4;
    border-style: solid;
}

footer .chat,
footer .email,
footer .help,
footer .f-icon {
    font-size: 15px;
}

footer .f-icon {
    font-size: 30px;
}

footer .f-end {
    padding: 30px;
    text-align: center;
    background-color: #18ACC4;
}

/* MODAL FORM*/

#adicionar-bolsa-modal form.form-bolsa {
    margin-top: 40px;
}

#adicionar-bolsa-modal .hz-form .input {
    flex: 1;
    max-width: 48%;
}

#adicionar-bolsa-modal form .form-group {
    margin-bottom: 30px;
}

#adicionar-bolsa-modal form select {
    background-color: #fff;
    width: -webkit-fill-available;
    height: 40px;
    border-radius: 5px;
}

#adicionar-bolsa-modal form input[type='range'] {
    width: -webkit-fill-available;
    background-color: #18ACC4;
}

/* MODAL - RESULTADOS */

#adicionar-bolsa-modal .results {
    height: 400px;
    overflow: auto;
}

#adicionar-bolsa-modal .results .result {
    border-top: solid 2px gray;
    padding: 30px 0;
}

#adicionar-bolsa-modal .results .result .info {
    line-height: 30px;
}

#adicionar-bolsa-modal .results .result img {
    width: 70%;
    min-width: 100px;
    margin: 0 auto;
}

#adicionar-bolsa-modal .option {
    position: relative;
}

#adicionar-bolsa-modal form.form-bolsa .filter {
    line-height: 25px;
}

#adicionar-bolsa-modal form.form-bolsa .filter .cbx-container {
    margin-right: 25px;
}

#adicionar-bolsa-modal form.form-bolsa .top-filter .input label, #adicionar-bolsa-modal form.form-bolsa .input h4 {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

#adicionar-bolsa-modal #filter-order {
    color: #18ACC4;
    cursor: pointer;
}

#adicionar-bolsa-modal .options {
    margin-top: 10px;
}

#adicionar-bolsa-modal .list-header {
    padding: 10px 0;
}

#adicionar-bolsa-modal .list-header h4 span.sort{
    display: block;
    text-align: right;
}

.results .result .info h4 {
    color: #007A8D;
}

.bolsa-disc-list, .bolsa-value-all {
    color: #0FA866;
    font-weight: 600;
}

/* INPUT RANGE*/

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fff;
    border: solid 3px #18ACC4;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fff;
    border: solid 3px #18ACC4;
    cursor: pointer;
}

#adicionar-bolsa-modal form.form-bolsa .options {
  text-align: right;
}

#adicionar-bolsa-modal .options button.btn-see-offer {
  width: 200px;
}

/* MODAL */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(31,45,48, 0.88);
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    min-width: 310px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
